.popup_opened {

  
 /*
  visibility: visible;
  opacity: 1;
  -o-transition: visibility 1s ease-out 0.5s, opacity 1s ease-out 0.5s;
  transition: visibility 1s ease-out 0.5s, opacity 1s ease-out 0.5s;
  -webkit-transition: visibility 1s ease-out 0.5s, opacity 1s ease-out 0.5s;
  -moz-transition: visibility 1s ease-out 0.5s, opacity 1s ease-out 0.5s;

 */
}