@import url(./_name/popup__input_name.css);
@import url(./_status/popup__input_status.css);

.popup__input {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 12px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    width: 100%;
}
.popup__input::placeholder {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: black;
}
