@import url(../profile/__avatar/profile__avatar.css);
@import url(../profile/__add-button/profile__add-button.css);
@import url(../profile/__edit-button/profile__edit-button.css);
@import url(../profile/__info/profile__info.css);
@import url(../profile/__name/profile__name.css);
@import url(../profile/__main-string/profile__main-string.css);
@import url(../profile/__status/profile__status.css);
.profile {
    display: flex;
    margin: 42px 0 0;
    color: white;
    flex-grow: 0 1 0;
}
@media screen and (max-width: 650px) {
    .profile {
        flex-direction: column;
        height: auto;
        align-items: center;
                
    }
}