.popup__submit-button {
    margin-top: 20px;
    width: 358px;
    height: 50.15px;
    background: #000000;
    border-radius: 2px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    border: none;
    
}
.popup__submit-button:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
@media screen and (max-width: 520px) {
    .popup__submit-button {
        width: 190px;
        margin: 20px auto 0;
    }
}