.header__logo {
    margin: auto 0;
    width: 142.01px;
    height: 33.4px;
}
@media screen and (max-width: 650px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-left: 8px;
    }
}