@import url(./__logo/header__logo.css);
.header {
    border-bottom: 1px solid #545454;
    height: 119px;
    display: flex;
    
}

@media screen and (max-width: 650px) {
    .header {
        height: 84px;
        
    }
}