.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 18px;
    grid-row-gap: 21px;
    margin-top: 47px;
}
@media screen and (max-width: 890px) {
    .elements {
    grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 518px) {
    .elements {
        grid-template-columns: 100%;
        grid-gap: 20px;
        margin: 36px 0 0;

    }
}