.element__delete-icon {
    width: 18px;
    height: 19px;
    position: absolute;
    right: 15px;
    top: 18px;
    box-sizing: border-box;
    border: none;
    background-image: url(../../../images/delete.svg);
    background-color: transparent;
    outline: none;
}

.element__delete-icon:hover {
    opacity: 0.6;
    cursor: pointer
}