@import url(../element/__body/element__body.css);
@import url(../element/__image/element__image.css);
@import url(../element/__like/element__like.css);
@import url(../element/__place-name/element__place-name.css);
@import url(../element/__delete-icon/element__delete-icon.css);
@import url(../element/__like/_active/element__like_active.css);
.element {
    max-width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    
}